.friendsBlock {
    display: grid;
    grid-template-areas: "f-count f-count f-count";
    grid-gap: 10px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    padding: 10px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.friendsCount {
    grid-area: f-count;
}

.friendCell {
    display: grid;
}

.friendCell a {
    justify-self: center;
}

.name {
    justify-self: center;
    font-size: 0.7rem;
}

.totalUsers {
    color: #939393;
}

.noTextDecoration {
    text-decoration: none;
    color: #000000;
}

.friendPhoto {
    max-width: 45px;
    max-height: 45px;
    border-radius: 50%;
}

