.main {
    display: grid;
    grid-template-columns: 230px auto;
    grid-column-gap: 15px;
}

.postsBlock {
    display: grid;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-top: 15px;
    font-size: 13px;
    max-width: 540px;
}

.postField {
    display: grid;
    /*grid-template-areas: "img input";*/
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    /*max-width: 465px;*/
    padding: 15px 20px 10px 20px;
}

.postField img {
    /*grid-area: img;*/
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.postField textarea {
    /*grid-area: input;*/
    min-height: 60px;
    border: 0;
    border-radius: 4px;
    line-height: 1.462;
    resize: none;
    outline: none;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

.submitPost {
    display: grid;
    background: #fafbfc;
    border-top: 1px solid #e7e8ec;
    padding: 13px 20px 12px;
    border-radius: 0 0 4px 4px;
    height: 30px;
}

.addPostButtonWrap {
    justify-self: end;
}

.addWallPostButton {
    padding: 7px 16px 8px;
    font-size: 12.5px;
    cursor: pointer;
    line-height: 15px;
    background-color: #5181b8;
    color: #fff;
    border: 0;
    border-radius: 4px;
}

.posts {
    margin-top: 10px;
}

/*.wallPostBlock {*/
/*    grid-column-start: 2;*/
/*}*/