.typeNews {
    grid-area: typeNews;
    grid-column: 1;
    display: grid;
    grid-template-columns: 52px minmax(40px, 400px) repeat(3, 25px);
    align-items: center;
    height: 52px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.typeNewsImg {
    width: 28px;
    height: 28px;
    margin: 12px 10px 12px 15px;
    border-radius: 14px;
}

.typeNews input {
    max-width: 100%;
    outline: none;
    border: none;
}

.newsPhoto {
    width: 22px;
    height: 22px;
    background: url(https://vk.com/images/post_icon.png?10) left  -65px no-repeat;
    opacity: 0.7;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.newsPhoto:hover {
    opacity: 1;
}

.newsPhoto:hover::after {
    content: "Photo";
    position: absolute;
    left: -15px;
    top: 26px;
    color: #ffffff;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.95);
    padding: 6px 10px;
    font-size: 11px;
}

.newsVideo {
    width: 22px;
    height: 22px;
    background: url(https://vk.com/images/post_icon.png?10) left  -87px no-repeat;
    opacity: 0.7;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.newsVideo:hover {
    opacity: 1;
}

.newsVideo:hover::after {
    content: "Video";
    position: absolute;
    left: -15px;
    top: 26px;
    color: #ffffff;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.95);
    padding: 6px 10px;
    font-size: 11px;
}

.newsAudio {
    width: 22px;
    height: 22px;
    background: url(https://vk.com/images/post_icon.png?10) left  -109px no-repeat;
    opacity: 0.7;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.newsAudio:hover {
    opacity: 1;
}

.newsAudio:hover::after {
    content: "Audio";
    position: absolute;
    left: -15px;
    top: 26px;
    color: #ffffff;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.95);
    padding: 6px 10px;
    font-size: 11px;
}