.nav {
  grid-area: n;
  background-color: #edeef0;
  padding-left: 150px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.nav ol {
  list-style: none;
  margin: 15px 0 10px;
  padding: 0;
}

.nav ol li {
  margin-right: 10px;
  padding-left: 15px;
  cursor: pointer;
}

.nav ol li:hover {
  background-color: #dae2ea;
}

.nav ol li a {
  text-decoration: none;
  color: #285473;
  border: 0;
  display: block;
  white-space: nowrap;
}

.leftFixer {
  display: block;
}

.leftIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: 0.4;
  position: relative;
  top: 5px;
  right: 8px;
}

.nav .leftLabel {
  height: 28px;
  line-height: 27px;
  font-size: 12.5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.separateDiv {
  margin-top: 9px;
  margin-left: 10px;
  margin-right: 25px;
  padding-top: 9px;
  border-top: 1px solid #dfe2e8;
}

.test {
  width: 160px;
}
