.mainContent {

}

.mainPhotoBlock {
    max-width: 200px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.profilePhoto {
    display: grid;
    justify-self: start;
    align-self: start;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 15px;
}

.hidden {
    display: none;
}

.uploadPhoto {
    background-color: #e5ebf1;
    color: #55677d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 12.5px;
    font-weight: 400;
    padding: 7px 25px 8px;
    width: 150px;
    border-radius: 4px;
    line-height: 15px;
    text-align: center;
}

.uploadPhoto:hover {
  background-color: #dae2ea;
}

.labelEditMainPhoto {
    cursor: pointer;
}

.pageTop {
    display: grid;
    grid-template-areas: 'n e' 's s';
    border-bottom: 1px solid #e7e8ec;
    padding: 0 0 15px;
}

.name {
    grid-area: n;
    font-size: 19px;
    line-height: 25px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: -1px 0 6px -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1px;
    color: #000;
}

.profileStatus {
    grid-area: s;
    cursor: pointer;
    margin: -4px -6px -4px;
    padding: 4px 6px 4px;
    color: #939393;
    font-size: 14px;
}

.profileStatus:hover {
    background-color: #dae2ea;
    border-radius: 2px;
}

.profileInfo {
    line-height: 150%;
    border-bottom: 1px solid #e7e8ec;
    padding: 10px 0 30px;
}

.profileInfoAbout {
    display: inline-block;
    font-size: 14px;
}

.profileInfoLeft {
    width: 165px;
    color: #828282;
}

.profileContacts {
    line-height: 150%;
    padding: 10px 0 15px;
}

.contactSep {
    position: relative;
    margin: -25px 0 4px;
    padding-right: 7px;
    background-color: #fff;
    width: 60px;
    font-size: 14px;
}

.textarea {
    width: 300px;
    height: 50px;
}